:root {
    /* 색깔 */
    --white-color : #fff;
    --black-color : #140a00;
    --blue-color : #045fd4;
    --red-color : #ff0000;
    --grey-dark-color : #909090;
    --grey-light-color : #e0e0e0;
    --orange-color : #faa945;
}



.logo .title {
    font-size: ;
}




.commentInVisible {
    display: none;
 }